*{
    color : red;
    background-image: url("http://hdblackwallpaper.com/wallpaper/2015/12/red-and-black-background-picture-4-desktop-background.jpg");

    font-size: 1.1em;
    height:70%;
    width: 100%;
}
